<link href="https://fonts.googleapis.com/css?family=Markazi+Text|Open+Sans:300|Raleway:300&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">

font-family: 'Markazi Text', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;

h1 {
  color: white;
  text-align: center;
}
h2 {
color: green;
font-style: italic;
text-align:center;
}

p {
  font-family: ;
}

div {
    background-color: lightblue;
}

p {
    background-color: yellow;
}
