body{
  font-family: 'Markazi Text', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.jumbotron {
  background-image: url("../img/backgrounds/landing.jpg");
  background-size: 100% 100%;
  background-position: center;
  margin: 0%;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.logoBig{
  position: absolute
  top: 50%;
  left: 50%;
}

.print{
  position: absolute;
  top: 25%;
  padding-right: 25%;
  padding-left: 35%;
  padding-top: 25%;
  color: white;

}

h2{
  font-family: 'Markazi Text', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.span-row-2{grid-row: span 2 / auto;}

#partyTime{
  color: white;
}
